html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: $board-size * $board-cell-size;
    height: $board-size * $board-cell-size;
    // border: 1px solid $board-border-color;
    -webkit-user-select: none;
    user-select: none;

    .object {
        width: $board-cell-size;
        height: $board-cell-size;
        line-height: $board-cell-size;
        alignment-baseline: hanging;
    }

    .text {
        font-size: $board-text-size;
        color: $board-text-color;
    }
}
